.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white;
      text-align: center;
  }

  .btn-default {

     border: 0.1px solid grey;
      background: white;
      color: black;
   }
  .btn-default:hover {
      background: #5cb85c;
      color: white;
   }

   #remove{
    padding: 30px;
    opacity: 1;
    size: 50px;
    color: white;
   }
   #remove:hover{
    color: #E74C3C;
   }

   #text{
       margin-right: 15px;
    margin-bottom: 5%;
   }

   input[type="text"],select{
    margin-bottom: 30px;
   }
  

   label{
    font-size: 20px;
   }

   /*radio button*/

   .radio_label {
  float: left;
  margin-right: 10%;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 2%;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio_label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radio_check {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio_label:hover input ~ .radio_check {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio_label input:checked ~ .radio_check {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio_check:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_label input:checked ~ .radio_check:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio_label .radio_check:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.category_select{
  float: left;
  margin-top: 2%;
  margin-bottom: 5%;
}


select option{
  background:black;
  color: white;
}
 select:hover { 
    background: white;
    color: black;
}


